/output/
/.kile/
/slides/snodec.tmp
/snodec-talks.kilepr
/snodec.aux
/snodec.log
/snodec.nav
/snodec.out
/snodec.pdf
/snodec.snm
/snodec.src
/snodec.synctex.gz
/snodec.toc
/snodec.vrb
*.aux
*.tmp
*.log
*.nav
*.out
*.snm
*.src
*.synctex.gz
*.toc
*.vrb
*.dvi
/PCO.synctex(busy)
*.lol
/*.pdf
/PCO.staged
